
<ng-template [ngIf]="this.canEditRow && this.canEditTable" [ngIfElse]="preview">
  <td>{{ event.id }}</td>
  <td><input [(ngModel)]="event.eventName"></td>
  <td><input type="number" step="0.01" min="1" [(ngModel)]="event.oddsForFirstTeam"></td>
  <td><input type="number" step="0.01" min="1" [(ngModel)]="event.oddsForDraw"></td>
  <td><input type="number" step="0.01" min="1" [(ngModel)]="event.oddsForSecondTeam"></td>
  <td><input type="datetime-local" [(ngModel)]="event.eventStartDate"></td>
</ng-template>
<ng-template  #preview>
  <td *ngIf="this.canEditTable">{{ event.id }}</td>
  <td>{{ event.eventName }}</td>
  <td (click)="this.OddClickHandler($event)">{{ event.oddsForFirstTeam | number }}</td>
  <td (click)="this.OddClickHandler($event)">{{ event.oddsForDraw | number }}</td>
  <td (click)="this.OddClickHandler($event)">{{ event.oddsForSecondTeam | number }}</td>
  <td>{{ event.eventStartDate | date: 'dd-MM-yyyy HH:mm' }}</td>
</ng-template>
<td *ngIf="this.canEditTable">
  <button  (click)="this.deleteEventHandler()">Delete</button>
  <button *ngIf="!this.canEditRow"
    (click)="this.canEditRow = true">Edit</button>
  <button *ngIf="this.canEditRow"
    (click)="this.editTableHandler()">Save</button>
</td>