<div class="row justify-content-end">
  <button *ngIf="!this.canEditTable" (click)="this.canEditTable = true">Edit</button>
  <button *ngIf="this.canEditTable" (click)="this.canEditTable = false">Preview</button>
</div>
<div class="row">
  <table class="table" [class.table-striped]="!this.canEditTable">
    <thead>
      <tr>
        <th scope="col" *ngIf="this.canEditTable">EventId</th>
        <th scope="col">EventName</th>
        <th scope="col">OddsForFirstTeam</th>
        <th scope="col">OddsForDraw</th>
        <th scope="col">OddsForSecondTeam</th>
        <th scope="col">EventStartDate </th>
        <th scope="col" *ngIf="this.canEditTable">Options</th>
      </tr>
    </thead>
    <tbody>
      <tr event-row *ngFor="let event of events; index as i" [event]="event" [canEditTable]="this.canEditTable"
        (deleteEvent)="this.deleteEventHandler($event)">
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="this.canEditTable" class="row">
  <button (click)="this.addNewEventHandler()">Add new event</button>
</div>